@import "bourbon";
@import "normalize";

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
    width: 100%;
    background: #000;
}


ul {
    list-style: none;
    text-indent: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    display: none;
}

.main {
    position: relative;
    .current {
        display: block;
    }
}

.bg-chooser,
.theme-chooser {
    position: fixed;
    top: 10px;
    right: 10px;
    border-bottom: 1px solid #555;
    opacity: 0;
	@include transition (all 0.3s ease-in-out);    
	
    &:hover {
	    opacity: 1;
    }
    
    li {
        display: block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #555;
        border-bottom: none;
        
        box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.45);
        

        img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.theme-chooser {
    top: 170px;

    li img {
        max-height: 1000%;
        max-width: 500%;
    }
}

.awesomeBG {
    position: fixed;
    width: 100%;
    height: 100%;
}

.full {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.pattern {
    background-repeat: repeat;
}